.wrapper {
  min-height: 100vh; // toute la hauteur de l'écran
  width: 90%;
  margin: 0 auto;
/*  background-color: #ef9a9a; // pour les tests */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;  // les éléments sont flexibles, capables de s'agrandir, se rétrécir, prendre l'espace disponible
}

.header {
  background: #00695c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nav { //barre des menus
    background: #004d40;
    min-width: 100%;
    display: flex;
    justify-content: center;

    & img { // chevron blanc
      transform: translateX(20px); // l'image décalée vers la droite
    }

    & a {
      padding: 0.5% 2%; // augmenter l'espace autour du menu
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
    }
  } // fin barre des menus

  .entete2 {
    padding: 1% 0 0 0;
    color: #ffffff;
    display: flex;

    &__1 { // Horloge
      width: 15%; // 15% de largeur de Entete2
      padding: 1% 0.3% 5% 3%;
    }

    &__2 { // What is your biological clock ?
      width: 40%;
      padding: 1% 0.3% 5% 1.8%;
      display: flex;
      flex-direction: column;

      & a { // bouton read more
        background: #ffa000;
        width: 15%;
        height: 10%;
        border-radius: 48px;
        margin: 1% 0 0 80%;
        padding: 0.5%;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-weight: 900;
      }
    }

    &__3 { // 5 boutons à fleche blanche sur fond orange
      width: 35%;
      padding: 1% 0.3% 5% 1.8%;
      display: flex;
      flex-direction: column;

      & a{ // Fleche blanc sur fond orange
        background: #66bb6a;
        width: 55%;
        margin: 1% 1% 1% 20%;
        padding: 1.5%;
        text-decoration: none;
        color: #ffffff;

        & span{
          padding: 1% 0 5% 3%;
        }

        & img {
          transform: translateY(2px); // l'image descend de 2px
        }
      }
      & a:hover { //au survol de la souris
        background: #a5d6a7;
      }
    } // fin entete2__3
  } // fin entete2
} // fin entete

.content{
  display: flex; // pour .left et .wright se mettre cote à cote

  &__left{
    background-color: #f5f5f5;
    margin: 1% 1% 0 1%;
    width: 40%;
    display: flex;
    flex-direction: column;

    &__welcome{ // Welcome to greefies
      margin-left: 2%;
      margin-right: 2%;
      & h2{
        color: #ffa000;
        font-weight: 900;
      }
    }

    &__menu{
      display: flex; //obligatoire car menu contient plusieurs lignes
      flex-direction: column;
      width: 100%; // pour que la ligne pointillée sur la largeur du content__left__menu
      margin-left: 2%;
      margin-right: 2%;

      & a{ // lien Lorem ipsum dolor sit amet.
        padding: 1% 0 1% 0;
        margin-right: 4%;
        text-decoration: none;
        border-bottom: 1px dashed #a5d6a7;
        color: #00b8d4;
        font-size: 1.1rem;
      }
      & span{ // Lorem ipsum dolor sit amet.
        padding: 0 0 0 1%;
      }
      & img{ // left_nav_arrow
        transform: translateY(3px); // l'image redescend de 3px
      }
    } // fin content_left_menu

    &__pot__fleur{
      margin: 2%;

      & .float{
        float: left;
        margin-right: 2%;
      }
      & a{
        text-decoration: none;
        color: #ffa000;
        margin-left: 50%;
        }
      & span {
        font-weight: 900;
        padding: 0 3% 0 0;
      }
      & .orange_bullet {
        transform: translateY(3px); // l'image redescend de 3px
      }
    } // content__left__pot__fleur
  } // fin content_left

  &__right{
    width: 60%;
    margin: 1% 3% 0% 2%;
    display: flex;
    flex-direction: column;
    & h2{ // Ours products
      color: #ffa000;
      font-weight: 900;
    }
    &__boite {
       border-bottom: 1px dashed #a5d6a7;
       padding: 0 0 2% 0;

      & .boite {
      float: left;
      margin-right: 3%;
      transform: translateY(11px); // l'image redescend de 3px
      }

      & a {
        text-decoration: none;
        color: #ffa000;
        margin-left: 85%;
      }

      & .orange_bullet {
        transform: translateY(3px); // l'image redescend de 3px
      }

      & span {
        font-weight: 900;
        padding: 0 1% 5% 0;
      }
    }

    & .message_contact{
      margin: 2% 0 0 0;
      display: flex;

      & .messages{

        width: 50%;

        border: 1px solid black; //TEST
        &__symbole_recherche{
          transform: translateX(-85px) translateY(-38px); // l'image redescend
        }
        &__saisir{
          transform: translateX(10px) translateY(-135px); // l'image redescend avec Y et de gauche à droite avec X
          & h3{
            color: #689f38 ;
          }
        }
      }

      & .contact{
        margin: 0 0 0 5%;
        width: 50%;
        display: flex;
        flex-direction: column;

         & h3{ // Free Customers support
          margin: 0 0 5% 0;
           color: #689f38 ;
        }

        & .contact__moyen{
          display: flex; // symbole tel et numeros tel ou symbole courriel et courriels
          margin: 0 0 3% 0; // espace entre symbole tel et courriel
          &__info{  // tel ou courriel
            display: flex;
            flex-direction: column;
            margin: 1% 0 0 10%;
          }
        } // fin contact__moyen
      }  // fin contact
    } // fin message_contact
  }  // fin content_right
} // fin content

.footer{
  background: #00695c;
   & img {
    transform: translateY(15px); // l'image descend  à sa position initiale
  }

  &__nav{
    margin: 0 0 0 70%; // repousser les menus vers la gauche
    display: flex;
    justify-content: space-around;
    & a {
      padding: 0 0 3% 0;
      color: #ffffff;
      text-decoration: none;
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
} // fin footer

// rendre les images (responsive) s'adapter à l'écran
@media screen {
  img {
    max-width: 100%;
    height: auto;
  }
}
